.btn {
    background-color: #746c66;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    border-radius: 0 !important;
    border: none;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}

.btn:hover,
.btn.active:hover {
    color: #ffffff;
}

.btn:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    background-color: #2E0014;
    width: 30%;
    height: 4px;
    transition: all 0.3s ease 0s;
}

.btn:hover:before,
.btn:hover:after,
.btn.active:before,
.btn.active:after {
    width: 100%;
}